@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

* {
    font-family: 'Gowun Dodum', sans-serif;
}

body {
    background-color: black;
}

.main {
    color: white;
    background-image: url('https://occ-0-1123-1217.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABeIfo7VL_VDyKnljV66IkR-4XLb6xpZqhpLSo3JUtbivnEW4s60PD27muH1mdaANM_8rGpgbm6L2oDgA_iELHZLZ2IQjG5lvp5d2.jpg?r=e6e.jpg');
    background-position: center;
    background-size: cover;
}

.mycards {
    width: 1200px;
    margin: 20px auto;
}

.mypostingbox {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

.form-floating>input {
    background-color: transparent;
    color: white;
}

.form-floating>label {
    color: white;
}

.input-group>label {
    background-color: transparent;
    color: white;
}

.mypostingbox>button {
    width: 100%;
}